transformers>=4.28.1
absl-py
accelerate
aiofiles
aiohttp
aiosignal
altair
annotated-types
anyio
appdirs
asttokens
astunparse
async-timeout
attrs
autopep8
backcall
beautifulsoup4
bert-score
bitsandbytes
bleach
Bottleneck
Brotli
brotlipy
cachetools
certifi
cffi
charset-normalizer
clarabel
click
colorama
comm
contourpy
cryptography
cvxpy
cycler
Cython
dataclasses
datasets
debugpy
debugpy-run
decorator
defusedxml
dill
distro
dm-tree
docker-pycreds
ecos
entmax
entrypoints
evaluate
exceptiongroup
executing
fastapi
fastjsonschema
fasttext
ffmpy
filelock
fire
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
gmpy2
google-auth
google-auth-oauthlib
google-pasta
gradio
gradio_client
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
hydra-core
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonargparse
jsonschema
jsonschema-specifications
jupyter_client
jupyter-contrib-core
jupyter_core
jupyter-latex-envs
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
keras
kiwisolver
libclang
lightning-utilities
linkify-it-py
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mecab-python3
mistune
mkl-fft
mkl-random
mkl-service
ml-dtypes
mpmath
multidict
multiprocess
munkres
mypy-extensions
namex
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numexpr
numpy
oauthlib
omegaconf
openai
opt-einsum
orjson
osqp
packaging
pandas
pandocfilters
parso
pathtools
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
ply
pooch
portalocker
prometheus-client
prompt-toolkit
protobuf
psutil
ptvsd
ptyprocess
pure-eval
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pybind11
pycodestyle
pycparser
pydantic
pydantic_core
pyDeprecate
pydub
Pygments
pyOpenSSL
pyparsing
PyQt5-sip
pyre-extensions
pyrsistent
PySocks
python-dateutil
python-multipart
pytorch-lightning
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
responses
rich
rouge-score
rpds-py
rsa
ruff
sacrebleu
sacremoses
safetensors
scikit-learn
scipy
seaborn
semantic-version
Send2Trash
sentencepiece
sentry-sdk
setproctitle
setuptools
shellingham
sip
six
smmap
sniffio
soupsieve
stack-data
starlette
sympy
tabulate
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorrt-bindings
termcolor
terminado
tf-slim
threadpoolctl
tinycss2
tokenizers>=0.13.3
toml
tomlkit
toolz
torch
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
triton
typer
typing_extensions
typing-inspect
tzdata
uc-micro-py
unbabel-comet
urllib3
uvicorn
utils
wandb
wcwidth
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wrapt
xformers
xxhash
yarl
zipp